<mat-toolbar [classList]="'mat-toolbar mat-toolbar-single-row'">
  <span> Door Number Converter</span>
</mat-toolbar>
<div style="padding-top: 20px;" class="example-container">
<form [formGroup]="myForm" (ngSubmit)="submitForm()" novalidate class="example-form">
  <mat-form-field  appearance="fill" class="mat-form-field ng-tns-c60-0 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-fill mat-form-field-can-float mat-form-field-should-float">
    <input matInput placeholder="EDN" formControlName="edn">
    <mat-error *ngIf="errorHandling('edn', 'required')">
      You must provide a <strong>EDN</strong>
    </mat-error>
    <mat-error *ngIf="errorHandling('edn', 'pattern')">
      You must provide a valid <strong>EDN</strong>
    </mat-error>
  </mat-form-field>
</form>
<div *ngIf="results$.length === 0" align="center">
  No Matching DDN Found....
</div>
<div *ngIf="results$.length > 0">
  <div align="center" style="padding-bottom: 10px;">
  Here's your DDN ........
</div>
  <table mat-table [dataSource]="results$" class="mat-elevation-z8" align="center" width="30%">
  <ng-container matColumnDef="DDN_Lat">
    <th mat-header-cell *matHeaderCellDef> Latitute </th>
    <td mat-cell *matCellDef="let element"> {{element.DDN_Lat}} </td>
  </ng-container>

  <ng-container matColumnDef="DDN_Long">
    <th mat-header-cell *matHeaderCellDef> Longitude </th>
    <td mat-cell *matCellDef="let element"> {{element.DDN_Long}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>
</div>
<router-outlet></router-outlet>
